<aside class="w-64 h-screen bg-gray-50 text-gray-900 fixed top-0 left-0 flex flex-col shadow-2xl py-3 px-2 select-none">
    <div class="flex p-6 text-xl font-bold border-b border-gray-300 justify-between items-center">
        <div class="flex space-x-2">
            <i class="material-icons-outlined text-gray-700">auto_fix_high</i>
            <span>tazy</span>
        </div>
        <button>
            <span class="material-icons-outlined  text-gray-700 text-xl">keyboard_arrow_right</span>   
        </button>
    </div>
    <nav class="flex-1 p-3 space-y-2 overflow-y-auto">
        <a routerLink="/dashboard" routerLinkActive="bg-gray-300 text-gray-900" class="flex px-4 py-2 rounded-lg hover:bg-gray-200 space-x-1.5 items-center transition delay-150 duration-200 ease-in-out hover:-translate-y-1 hover:scale-105">
            <span class="material-icons-outlined text-gray-700 text-xl">pie_chart</span> 
            <span>Dashboard</span>
        </a>
        <a routerLink="/analytics" routerLinkActive="bg-gray-300 text-gray-900" class="flex px-4 py-2 rounded-lg hover:bg-gray-200 space-x-1.5 items-center transition delay-150 duration-200 ease-in-out hover:-translate-y-1 hover:scale-105">
            <span class="material-icons-outlined text-gray-700 text-xl">analytics</span> 
            <span>Analytics</span>
        </a>
        <a routerLink="/productos" routerLinkActive="bg-gray-300 text-gray-900" class="flex px-4 py-2 rounded-lg hover:bg-gray-200 space-x-1.5 items-center transition delay-150 duration-200 ease-in-out hover:-translate-y-1 hover:scale-105">
            <span class="material-icons-outlined text-gray-700 text-xl">shopping_bag</span> 
            <span>Productos</span>
        </a>
        <a routerLink="/ventas" routerLinkActive="bg-gray-300 text-gray-900" class="flex px-4 py-2 rounded-lg hover:bg-gray-200 space-x-1.5 items-center transition delay-150 duration-200 ease-in-out hover:-translate-y-1 hover:scale-105">
            <span class="material-icons-outlined text-gray-700 text-xl">attach_money</span>
            <span>Ventas</span>
        </a>
        <a routerLink="/usuarios" routerLinkActive="bg-gray-300 text-gray-900" class="flex px-4 py-2 rounded-lg hover:bg-gray-200 space-x-1.5 items-center transition delay-150 duration-200 ease-in-out hover:-translate-y-1 hover:scale-105">
            <span class="material-icons-outlined text-gray-700 text-xl">groups</span>
            <span>Usuarios</span>
        </a>
        <a routerLink="/reportes" routerLinkActive="bg-gray-300 text-gray-900" class="flex px-4 py-2 rounded-lg hover:bg-gray-200 space-x-1.5 items-center transition delay-150 duration-200 ease-in-out hover:-translate-y-1 hover:scale-105">
            <span class="material-icons-outlined text-gray-700 text-xl">document_scanner</span>
            <span>Reportes</span>
        </a>
    </nav>
</aside>
